@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat&family=Quicksand:wght@300..700&display=swap');


body {
    background-image: url('/img/conny.jpg'); 
    background-size: cover; 
    background-repeat: repeat;
    background-position: center; 
    background-size: 100vw 100vmax;
    font-family: "Quicksand", sans-serif;
    color: #fff;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color:#274790a1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-bottom: 8px;
}

.form input, .form select, .form textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #274790;
    border-radius: 4px;
}

.form button {
    padding: 10px 15px;
    background-color: #274790;
    color: rgba(255, 255, 255, 0.829);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: #595e5f;
}
