@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat&family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    background-image: url('/img/jo.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

.title {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
}

.card {
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card a {
    text-decoration: none;
    color: white;
    background-color: #494d4e;
    padding: 15px 23px;
    border-radius: 10px;
}

.card a:hover {
    background-color: rgb(27, 27, 27);
}

.content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th {
    background-color: #3c4344;
    color: #fff;
    padding: 15px;
    text-align: left;
    font-weight: bold;
}

td {
    background-color: #f9f9f983;
    border: 1px solid #ddd;
    padding: 15px;
    transition: background-color 0.3s ease;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

i {
    font-size: 1.2em;
    color: #515558;
    transition: color 0.3s ease-in-out;
}

button:hover i, button:hover {
    color: #3e4042;
}

form {
    display: inline-block;
    margin-right: 5px;
}

td:hover {
    background-color: #e3f2fd;
    cursor: default;
}
