@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat&family=Quicksand:wght@300..700&display=swap');


body {
    background-image: url('/img/conny.jpg'); 
    background-size: cover; 
    background-repeat: repeat;
    background-position: center; 
    background-size: 100vw 100vmax;
    font-family: "Quicksand", sans-serif;
    color: #fff;
}
.container {
    margin-top: 50px;
}

.findCom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.findCom form {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.findCom form button {
    border: none;
    outline: none;
    background-color: transparent;
}

.findCom form input {
    width: 90%;
    height: 40px;
    padding-left: 15px;
    border-radius: 10px;
    border: 1px solid #576CA8;
    outline: none;
}
.viaCompany {
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viaCompany a{
    background-color: #274690;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 33px;
    border-radius: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}
.showCompanies {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showCompanies table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
}

.showCompanies th, .showCompanies td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.showCompanies th {
    background-color: #2136b0;
    color: #fff;
}

.showCompanies tbody td {
    background-color: #576CA8; 
}

.showCompanies button {
    background-color: #274690;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.showCompanies button:hover {
    background-color: #576CA8;
}
