@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat&family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: url('/img/jo.jpg');
  background-size: cover;
  font-family: "Quicksand", sans-serif;
}

/* Aqui empieza todo el estilo del header */

header {
  width: 100%;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.interior {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 90px;
  width: 110px;
  margin-left: 20px;
  transition: transform 0.3s;
  min-width: 100px;
}

.logo img:hover {
  transform: scale(1.1);
}

.navegacion {
  display: flex;
  font-size: 25px;
  width: 800px;
  height: 75%;
  position: relative;
  align-items: center;
  margin: 0 auto;
  right: 10px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: 60px;
}

.sobreNosotros {
  width: 100%;
}

.terminos {
  width: 100%;
}

.menu li a {
  display: block;
  padding: 15px 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu li:hover {
  background-color: #7e7979;
  border-radius: 10px;
}

.sub-Menu {
  position: absolute;
  display: none;
  list-style: none;
  background-color: #cac9c9;
  min-width: 300px;
}

.menu li:hover .sub-Menu {
  display: block;
}

.sub-Menu li:hover {
  background-color: #555050;
  border-radius: 10px;
}

.sub-Menu li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 15px 15px 15px 20px;
  text-decoration: none;
}


/* ............................................. */

.menu-candidate {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-candidate a {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  display: block;
}

.menu-candidate .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #5C6B73;
  min-width: 200px;
  border-radius: 5px;
}

.menu-candidate .menu-item:hover .sub-menu {
  display: block;
}

.menu-candidate .sub-menu li {
  position: relative;
}

.menu-candidate .sub-menu li:hover {
  background-color: #8e8e8e;
}

.menu-candidate .sub-menu li a {
  padding: 10px 20px;
  display: block;
  color: #000000;
  text-decoration: none;
}

.menu-candidate .sub-menu li a:hover {
  background-color: #8e8e8e;
}

/******************************************/

ul .sub-Menu-admin{
  position: absolute;
  left: 42vw;
  bottom: 40vh;
}

.menu-admin a{
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  width: 5%;
  position: relative;
  left: 47vw;
  font-size: 18px;
  bottom: 4.8vw;
  padding: 15px 20px;
}

.menu-admin a:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.menu-admin li:hover .sub-Menu-admin {
  display: block;
}

.contenedor-admin{
  background-color: red;
  width: 0;
}

.sub-Menu-admin {
  position: absolute;
  display: none;
  list-style: none;
  background-color: #F2F2F2;
  width: 280px;
  right: 20%;
  top: 12vh;
  height: 15vw;
}
.sub-Menu-admin li:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.sub-Menu-admin li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 15px 15px 15px 20px;
  text-decoration: none;
  position: relative;
  left: 60px;
  top: 1px;
  width: 70%;
}


/******************************************/

ul .sub-Menu-selector{
  position: absolute;
  left: 42vw;
  bottom: 40vh;
}

.menu-selector a{
  background-color: rgba(51, 49, 49, 0);
  color: #222222;
  width: 5%;
  position: relative;
  left: 47vw;
  font-size: 18px;
  bottom: 4.8vw;
  padding: 15px 20px;
}

.menu-selector a:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.menu-selector li:hover .sub-Menu-selector {
  display: block;
}

.contenedor-selector{
  background-color: red;
  width: 0;
}

.sub-Menu-selector {
  position: absolute;
  display: none;
  list-style: none;
  background-color: #5C6B73;
  width: 280px;
  right: 20%;
  top: 10vh;
  height: 10vw;
}
.sub-Menu-selector li:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.sub-Menu-selector li a {
  display: block;
  color: rgb(17, 16, 16);
  padding: 15px 15px 15px 20px;
  text-decoration: none;
  position: relative;
  left: 60px;
  top: 1px;
  width: 70%;
}

/* EMPRESA */

.menu-company {
  background-color: #F2F2F2;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-company a {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  display: block;
}

.menu-company .contenedor-company:hover .sub-Menu-company {
  display: block;
}

.menu-company .sub-Menu-company {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-company .sub-Menu-company li:hover {
  background-color: #8e8e8e;
}

.menu-company .sub-Menu-company li a {
  padding: 10px 20px;
  display: block;
  color: #000000;
  text-decoration: none;
}

.menu-company .sub-Menu-company li a:hover {
  background-color: #8e8e8e;
}

/* ................................... */

ul .sub-Menu-recruiter{
  position: absolute;
  left: 42vw;
  bottom: 40vh;
}

.menu-recruiter a{
  background-color: rgba(255, 0, 0, 0);
  color: #fff;
  width: 5%;
  position: relative;
  left: 47vw;
  font-size: 18px;
  bottom: 4.8vw;
  padding: 15px 20px;
}

.menu-recruiter a:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.menu-recruiter li:hover .sub-Menu-recruiter {
  display: block;
}

.contenedor-recruiter{
  background-color: red;
  width: 0;
}

.sub-Menu-recruiter {
  position: absolute;
  display: none;
  list-style: none;
  background-color: #5C6B73;
  width: 270px;
  right: 20%;
  top: 9.7vh;
  height: 9vw;
}
.sub-Menu-recruiter li:hover {
  background-color: #8e8e8e;
  border-radius: 10px;
}

.sub-Menu-recruiter li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 15px 15px 15px 20px;
  text-decoration: none;
  position: relative;
  left: 60px;
  top: 1px;
  width: 70%;
}

.Login {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 20px;
  padding: 10px;
  position: absolute;
  top: 15px;
  right: -10px;
  min-width: 100px;
}

.Login a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  background-color: transparent;
  color: #000000;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

.Login a:hover {
  background-color: #333;
  color: #000000;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

#icon-menu {
  display: none;
}

.menu-icono {
  width: 30px;
}


.interior label {
  cursor: pointer;
  display: none;
}

/* Contenedor principal */
/* Contenedor principal para la barra de navegación */
#barra-superior {
  width: 100%;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinea los elementos alrededor del centro */
  padding: 10px 20px;
  border-radius: 10px;
}

/* Estilos para el menú de navegación */
.navegacion {
  display: flex;
  font-size: 25px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.menu li a {
  padding: 15px 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu li:hover {
  background-color: #7e7979;
  border-radius: 10px;
}

/* Contenedor para los elementos de inicio de sesión/registro */
.login {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0; /* Modifica el margen para alinear correctamente */
  padding: 10px;
}

.login a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

.login a:hover {
  background-color: #333;
  color: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}


/* Estilos para el mensaje de bienvenida y menú de usuario */
.mensaje-bienvenida {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.menu-usuario {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.menu-usuario li a {
  text-decoration: none;
  color: black;
  padding: 15px 20px;
}

.sub-menu-usuario {
  list-style: none;
  display: none;
  background-color: #F2F2F2;
  min-width: 300px;
}

.menu-usuario li:hover .sub-menu-usuario {
  display: block;
}

.sub-menu-usuario li a {
  text-decoration: none;
  color: #000000;
  padding: 15px 15px 15px 20px;
  display: block;
}

.form-logout button {
  background-color: #F2F2F2;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

.form-logout button:hover {
  background-color: #F2F2F2;
}

/* Estilos para la lista de inicio de sesión/registro */
.login {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 20px;
  padding: 10px;
}

.login a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  background-color: transparent;
  color: #000000;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

.login a:hover {
  background-color: #333;
  color: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

/* Contenido principal */
#contenido-principal {
  width: 80%;
  padding: 20px;
}

/* Estilos para los títulos de las secciones */
.titulo-seccion {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para los artículos */
.articulo {
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

/* Estilos para el título del artículo */
.articulo h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

/* Estilos para el contenido del artículo */
.articulo p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

/*CANDIDATO*/
.menu-candidate {
  background-color: #F2F2F2;
  padding: 10px;
  border-radius: 10px;
}

.menu-candidate ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-candidate .menu-item {
  position: relative;
}

.menu-candidate .menu-item a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  display: block;
}

.menu-candidate .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-candidate .menu-item:hover .sub-menu {
  display: block;
}

.busqueda {
  margin-top: 20px;
  text-align: center;
}

.busqueda h1 {
  font-size: 32px;
  color: #333;
}

.busqueda span {
  color: #abb0b4;
}

.search-form {
  margin-top: 20px;
}

.search-form input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  max-width: 100%;
}

.search-form button {
  padding: 10px;
  background-color: #99a0a7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-form button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
/* Aquí agregamos estilos adicionales para los contenedores de los artículos */
.articulo-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.articulo {
  width: 30%; /* Ancho de los artículos */
  background-color: #fff; /* Color de fondo de los artículos */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Estilos para el contenido del artículo */
.articulo p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

