@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat&family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/img/conny.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Quicksand", sans-serif;
    color: #fff;
    background-position: center;
}

.flex {
    background-color: rgba(102, 119, 165, 0.664);
    border: 2px solid #274690; 
    padding: 50px;
    box-shadow: 10px 10px 20px rgba(255, 254, 254, 0.4); 
    max-width: 3000px; 
    margin: 50px; 
    border-radius: 20px; 
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Añadí borde redondeado */
}

.form-group {
    margin: 20px;
    text-align: left; /* Cambié la alineación del texto */
}

label {
    display: block;
    font-weight: bold;
    color: #000000; 
}

select,
input {
    width: calc(100% - 30px); /* Ajusté el ancho */
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    outline: none; /* Eliminé el contorno al enfocar */
}

button {
    padding: 15px 30px;
    background-color: #274690; 
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Añadí una transición suave */
}

button:hover {
    background-color: #3c3d3c; /* Cambié el color del botón al pasar el mouse */
}
