@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat&family=Quicksand:wght@300..700&display=swap');

body {
    background-image: url('/img/conny.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Quicksand", sans-serif;
    color: #fff;
  }

main {
    padding: 20px; 
    background-color:transparent;
}

header {
    text-align: center;
    padding: 20px;
}

h2 {
    background-color: #274690;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.info {
    margin: 20px;
}

.info article {
    padding: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 20px;
}

input[type="text"], input[type="email"], input[type="password"],select, textarea, input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #576CA8;
    font-size: 16px;
    box-sizing: border-box; 
    color: #fff;
    font-family: "Quicksand", sans-serif;
}
input[type="submit"] {
    width: auto;
    padding: 16px 32px; 
    margin: 10px 0; 
    border-radius: 5px;
    background-color: #576CA8;
    font-size: 16px;
    box-sizing: border-box; 
    color: #fff;
    font-family: "Quicksand", sans-serif;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}


input[type="submit"]:hover {
    background-color: #274690; 
}

button {
    padding: 15px 50px;
    background-color: #274690;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px; 
}
