
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat&family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: url('/img/jo.jpg');
  background-size: cover;
  font-family: "Quicksand", sans-serif;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(65, 60, 60, 0.568);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-bottom: 8px;
}

.form input, select, textarea {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-sub {
    padding: 10px 15px;
    background-color: #434b4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #101314;
}
